<div [formGroup]="reportedListForm">
    <div>
        <div dnd-handle class="handle">:::</div>
        <div class="name">Name Goes Here</div>
        <div>
            <input type="text" class="form-control" placeholder="Report element title (if different from card name)" formControlName="displayName">
            <!--display error message if street is not valid-->
            <small [hidden]="reportedListForm.controls.displayName.valid" class="text-danger">
                Display Name is required
            </small>
        </div>
        <div>
            <input type="checkbox" formControlName="GroupByLabels" />Grp By Labels |
            <input type="checkbox" formControlName="showCheckLists" />Checklists |
            <input type="checkbox" formControlName="showDescription" />Description |
            <input type="checkbox" formControlName="showComments" />Comments |
            <i class="list-delete glyphicon glyphicon-minus-sign"></i>
        </div>
    </div>
</div>